 
#input05  {
   background-color:#2B2727 ;
}

#input06  {
   background-color:#2B2727;
   ;
}

#input07  {
   background-color:#2B2727 ;
}

#input08  {
   background-color:#201D1D ;
}

#input01  {
   background-color:#201D1D ;
}

#input02  {
   background-color:#201D1D ;
}

#input03  {
   background-color:#201D1D ;
}

#input04  {
   background-color:#201D1D ;
}

#select01  {
   background-color:#201D1D ;
}

#textarea  {
   background-color:#201D1D ;
}

#textarea2  {
   background-color:#201D1D ;
}

.form-actions  {
   background-image: url(http://subtlepatterns.com/patterns/micro_carbon.png) ;
}
body {
    color:#fff;
}
#imgft {
    float:right;
    margin: 50px 50px 0 0 ;
}

